.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242323; 
  }
  img{
    position: relative;
    z-index: 3;
    max-height: 100%;
  }
