.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% высоты viewport */
    background-color: #242323; /* Фоновый цвет */
  }
  img{
    position: relative;
    z-index: 3;
  }