.container{
height: 100%;
width: 100%;
    
}
h1{
    position: relative;
    font-size: 3rem;
    margin: 10% 2% 10%;
    z-index: 3;
    cursor:default;
}
h2{
    font-size: 2rem;
    margin: 0 2%;
    position: relative;
    z-index: 3;
    cursor:default;
}
@media (max-width: 1096px) {

}
@media (max-width: 768px) {
  
}