
.gallerySlider{
  display: flex;
  flex-direction: row;
  overflow-y:hidden; 
}
.gallerySlider > div{
  margin: 1vh 2vw;
}
.gallerySlider img {
  height: 75vh; 
  z-index: 3;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 300ms;
}
.gallerySlider img:hover{
  transform: scale(1.02);
}
.gallerySlider img::after {
  display: flex;
  content: "Name";
  width: 100px;
  height: 100px;
  background-color: #ffba10;
  border-color: black;
  border-style: dotted;
}
.galleryTitle{
  position: relative;
  padding: 5vh 1vw 0 0;
  font-weight: 500;
  font-size: 24px;
}

.galleryTitle button{
  display: none;
}

 

 
  @media (max-width: 900px) {
    .galleryContainer{
      display: flex;
      flex-direction: column;
      margin-top: 8svh;
    }
    .gallerySlider img {
      max-width: 100%;
      max-height: 72vw;
      margin: 0 1vh;
    }
    .gallerySlider > div{
      display: flex;
      flex-direction: column;
    }
}
@media (max-width: 450px) {
  .gallerySlider img{
    width: 95vw;
    height: auto;
  }
}