.gallerySlider{
  display: flex;
    flex-direction: row;
    overflow-x: auto; 
}
.gallerySlider img {
  height: 76vh; 
  margin: 0 2vh;
}
.galleryTitle{
  margin: 1vh 2vh;
  font-weight: 600;
}
.galleryTitle button{
  display: none;
}

 
  @media (max-width: 900px) {
    .galleryContainer{
      display: flex;
      flex-direction: column;
    }
    .gallerySlider img {
      max-width: 100%;
      max-height: 72vw;
    }
}