/* src/Styles/Navigation.module.css */

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 10px 0 140px;
  width: 100%;
  background-color: #1c1c1c;
  z-index: 4;
  height: 50px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.logo .navLink {
  opacity: 1;
  border: none;
  font-size: 28px;
}

.navLinks {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 0 50px;
}

.navLink {
  display: flex;
  justify-content: start;
  font-size: 15px;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: transform 0.1s ease, opacity 0.3s ease;
  margin: 10px 10px 20px;
  padding: 0.25% 15% 0.25% 1%;
  border: solid rgb(153, 150, 150) 1px;
  border-radius: 30px;
}

.navLink:hover,
.navLink.active {
  cursor: pointer;
  background-color: white;
  color: black;
}

.navLinks a {
  text-decoration: none;
  color: white; 
}

@media (max-width: 1096px) {
  .navLink {
    font-size: 20px;
  }
  .navLinks {
    font-size: 18px;
    top: 40px;
    gap: 10px;
  }
  .logo {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .navLink {
    font-size: 16px;
    margin: 0 8px;
  }
  .navLinks {
    font-size: 18px;
    top: 35px;
    gap: 5px;
  }
  .logo {
    font-size: 22px;
  }
}
