
  ::-webkit-scrollbar {
    width: 0px;
  }
.slider{
  cursor: url('../assets/img/cursor.svg'), auto;
  overflow-x: auto
}
  .infoPanelEnable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    position: absolute;
    margin: 0 !important;
    padding: 0 0 !important;
    right: 0;
    top: 0;
    height: 100svh;
    width: 34vw;
    background-color: #1c1c1c;
    z-index: 3;
    overflow-y: scroll;
    
}
.infoPanelEnable div:last-child{
width: 100%;
margin-bottom: 13.3svh;
}

.descriptionGeneral{
  margin: 14svh 0 5svh !important;
  font-size: 2svh;
}
.descriptionSection{
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 !important;
  padding: 0 1svw !important;
  opacity: 0.7;
  font-size: 1.8svh;
}
.currentTitle{
  display: none;
}
.infoPanelEnable p{
  margin: 2%;
  padding: 0 0.7svw 0 1svw;
}
.watchButton{
  text-decoration: none;
  margin-right: 1vw;
}
.watchButton button{
background-color: transparent !important;
color:white !important;
cursor: url('../assets/img/cursor.svg'), auto;
border: 2px solid white !important;
font-weight: 400;
}
.watchButton button:hover{
  border: none;
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  }
.leftColumn{
  width: 80%;
height: fit-content;
text-align: left;
}
.rightColumn{
  margin: 0 !important;
  text-align: right;
}
.rightColumn div{
  margin: 0 !important;
  text-align: right;
}
.leftNav,
.rightNav {
  position: absolute;
  top: 5;
  width: 5%;
  height: 75%;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
  
}

.leftNav {
  left: 0;
  cursor: url('../assets/img/left.svg'), auto;
}

.rightNav {
  right: 0;
  cursor: url('../assets/img/right.svg'), auto;
}


.InfoButtonEnabled{
  content: url('../assets/img/infoCross.svg');
  width: 35px;
}

.infoEnabled{
  display:none !important;
}
.infoDisabled{
 display: none;
}

.controlButtons{
  display: flex;
  align-items: flex-end;
  margin-right: 2vw;
}
@keyframes slide-left {
  from {
    right: -45svh;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@media (max-width: 1920px) {

  .infoPanelEnable{
    width: 600px;
  }
 
  .InfoButtonEnabled{
    content: url('../assets/img/infoCross.svg');
    width: 38px;
  }
}

  @media (max-width: 900px) {
    .slider{
      flex-direction: column;
    }
    .slider img {
      height: 72vw; 
    }
    section:nth-child(4) img{
      margin: 0 auto;
      height: 50dsvh;
    }
    .scrollEnable{
      overflow-y: auto;
    }
    .scrollDisable{
      overflow: hidden;
      position: fixed;
    }
    .infoPanelEnable{
      display: flex;
      flex-direction: column !important;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
      position: absolute;
      margin: 0 0 0 0 !important;
      width: 100vw;
      height: 100svh;
      background: none;
      color:white;
      background-color: #1c1c1c;
      opacity: 0.9;
      animation: slide-top 1s;
  }
  .infoPanelEnable div:last-child{
    margin: 0 0 1svh;
    }

  .infoPanelDisable{
    display: none !important;
  }
.infoPanelEnable p {
  font-size: 13px;
}

.descriptionGeneral{
  margin: 20svh 0 0 0  !important;
}
.descriptionSection{
  padding: 0 1svh !important;
}
.InfoButtonEnabled{
  display: none;
}
.watchButton{
  width: 39vw;
  margin: 0;
}
.controlButtons{
  display: flex;
  align-items: center;
  margin: 0;
}
.infoDisabled{
  display: flex;
 }

  @keyframes slide-top{
    from {
      top: 80svh;
    }
    to {
      top: 0;
    }
  }
}

@media (max-width: 450px) {
  .slider img{
    width: 95vw;
    height: auto;
  }
  }